{% extends 'particle-viewer-base.jinja2' %}

{% block content %}
<div class="container mt-5">
    <h3 class="mb-4">Particle Photo Display</h3>
    <div class="row">
        <!-- Image Section -->
        <div class="col-md-6">
            <h5>PhotoID: {{ data[0]['photoid'] }}</h5>
            <img src="{{ url_for('photoviewer.get_photo', photoid=data[0]['photoid']) }}" alt="Particle Photo" class="img-fluid mb-4">
        </div>

        <!-- Table Section -->
        <div class="col-md-6">
            <h5>Particles displayed in this photo:</h5>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Particle ID</th>
                        <th>Morphology</th>
                        <th>Color</th>
                        <th>Lab</th>
                        <th>Sample Type</th>
                        <th>Station ID</th>
                        <th>Submission ID</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in data %}
                        <tr {% if current_particle == record['particleid'] %} style="background-color: #bcf7cc;font-weight:bold;" {% endif %}>
                            <td>{{ record['particleid'] }}</td>
                            <td>{{ record['morphology'] }}</td>
                            <td>{{ record['color'] }}</td>
                            <td>{{ record['lab'] }}</td>
                            <td>{{ record['sampletype'] }}</td>
                            <td>{{ record['stationid'] }}</td>
                            <td>{{ record['submissionid'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
